@import "normalize.css";

:root {
	--gray100: hsl(210, 6%, 98%);
	--gray200: hsl(210, 6%, 90%);
	--gray300: hsl(210, 6%, 80%);
	--gray400: hsl(210, 6%, 70%);
	--gray500: hsl(210, 6%, 60%);
	--gray700: hsl(210, 6%, 40%);
	--gray900: hsl(210, 6%, 18%);
	--red300: hsl(0, 60%, 60%);
	--red500: hsl(0, 60%, 50%);
	--red700: hsl(0, 60%, 40%);
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;

	background-color: white;

	color: var(--gray900);
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;

	@media screen and (max-width: 500px) {
		font-size: 7vw;
	}
}

#root {
	min-height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

#container {
	max-width: 800px;
	
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;

	padding: 0 10px;

	section {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		margin-top: 20px;
	}
}

section#header {
	font-family: 'Assistant', sans-serif;

	h1 {
		font-size: 2.3em;
		margin: 0;
		font-weight: 700;
		@media screen and (max-width: 500px) {
			font-size: 11.6vw;
		}
	}

	h3 {
		font-size: .95em;
		margin: 0;
		color: var(--gray400);
		font-weight: 600;
		@media screen and (max-width: 500px) {
			font-size: 4.8vw;
		}
	}
}

section#price-input {
	margin-top: 70px;
	input {
		text-align: right;
		padding: 8px;
		width: 9em;
		max-width: 50vw;

		border: solid 1px var(--gray400);
		border-radius: 2px;

		color: inherit;

		&::placeholder {
			color: var(--gray300);
		}
		&.invalid {
			color: var(--red300);
			border-color: var(--red300);
		}
	}
}
section#result {
	margin-top: 70px;
	font-size: 1.3em;
	font-weight: 700;
	word-break: break-all;
}

p {
	margin: 0;
}

span.nowrap {
	white-space: nowrap;
}